.reconstructionStub__footer{
  @include fontValue(normal, bold, 24px, 28px);
  color: $text-for-headers;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0px;
  position: fixed;
  left: 0px;
  bottom: 28px;
  text-align: center;



  @media screen and (max-width: 1024px){
    @include fontValue(normal, bold, 22px, 24px);
    bottom: 22px;
  }
  @media screen and (max-width: 600px){
    @include fontValue(normal, bold, 14px, 16px);
    bottom: 20px;
  }

}