.technical-support__item-name{
  @include fontValue(normal, 200,36px,37px);
  color: $text-for-headers;
  margin: 0px;
  @media screen and (max-width: 600px){
    @include fontValue(normal, 200, 28px, 32px);
  }

  opacity: 0;
  transition: all 4s ease 0s;
}
