.stages-work__stage-text{
  @include fontValue(normal, normal, 14px, 18px);
  letter-spacing: 0.02em;
  color: $text-for-headers;
  margin: 0px;
  position: relative;
  top: -15px;
  max-width: 322px;
  width: 100%;

  @media screen and (max-width: 600px){
    @include fontValue(normal, normal, 12px, 18px);
    top: 0px;
  }
}