@import "./_column/browser-stage__stage_column.scss";
@import "./_technicalSupport/browser-stage__stage_technicalSupport.scss";
.browser-stage__stage{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  position: relative;
  @media screen and (max-width:1024px){
    flex-direction: column;
    align-items: center;
    .browser-stage__content{
      max-width: 450px;
    }

  }
}
.browser-stage__stage:nth-of-type(3){
  margin-bottom: 0px;
}

.browser-stage__stage.browser-stage__stage_left{
  @media screen and (max-width:1024px){
    flex-direction: column-reverse;
  }
}