.technical-support__block{
  width: calc(100% - 63px - 63px);
  margin: 0px 63px;
  background: $text-for-headers;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 25px 40px;
  border-radius: 15px;

  @media screen and (max-width:900px){
    width: calc(100% - 30px - 30px);
    margin: 0px 30px;
    padding: 25px 30px;
  }
  @media screen and (max-width:600px){
    width: calc(100% - 30px);
    margin: 0px 15px;
    padding: 25px 15px;
  }
}

.technical-support__img-name{
  @include fontValue(normal, bold, 24px,96.19%);
  letter-spacing: 0.025em;
  text-transform: uppercase;
  color: $text-color;
  margin: 0px;
  width: max-content;
  @media screen and (max-width:900px){
    @include fontValue(normal, bold, 21px,96.19%);
  }

  @media screen and (max-width:600px){
    @include fontValue(normal, bold, 16px,96.19%);
  }

}

.technical-support__image{
  flex-basis:170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  img{
    margin-bottom: 20px;
  }
  margin: 0px 5px 20px;

  @media screen and (max-width:900px){
    flex-basis:150px;
  }

  @media screen and (max-width:600px){
    flex-basis:100px;
    margin: 0px 0px 20px;
  }
}

.technical-support__images-container{
  margin-top: 20px;
  margin-bottom: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}