.developmentStud__footer{
  @include fontValue(normal, bold, 18px, 21px);
  text-align: center;
  color: #FFFFFF;
  width: 250px;
  position: absolute;
  bottom: 5.5%;
  left: calc(50% - 125px);


  @media screen and (max-width: 800px){
    width: 200px;
    left: calc(50% - 100px);
    @include fontValue(normal, bold, 14px, 16px);
  }
  @media screen and (max-width: 600px){
    width: 150px;
    left: calc(50% - 75px);
    @include fontValue(normal, normal, 12px, 14px);
  }
  @media screen and (max-width: 450px){
    bottom: 6%;
    @include fontValue(normal, normal, 11px, 14px);
  }
}