.developmentStud__footer{
  @include fontValue(normal, bold, 18px, 21px);
  text-align: center;
  color: #FFFFFF;
  width: 250px;
  position: absolute;
  bottom: 5.5%;
  left: calc(50% - 125px);
  a{
    text-decoration: none;
    color: #FFFFFF;
    &:hover{
      cursor: pointer;
    }
  }

  @media screen and (min-width: 800px) {
    @include fontValue(normal, bold, 18px, 21px);
  }
  @media screen and (max-width: 800px){
    font-size: calc(12px + 6 * ((100vw - 320px) / 680));
    line-height: 120%;
  }

  @media screen and (max-width: 600px){
    font-size: calc(10px + 6 * ((100vw - 320px) / 500));
    line-height: 120%;
    width: 50%;
    bottom: 6%;
    left: 25%;
  }
}