.browser-stage__title-container.browser-stage__title-container_smm{
  width: 100%;
  max-width: 500px;
  .browser-stage__title{
    width: 100%;
    max-width: 500px;
    .browser-stage__name{
      font-weight: bold;
    }
  }
}