.browser-stage__container.browser-stage__container_technicalSupport{
  padding: 15px 10px;
  background: none;
  box-shadow: none;
  display: none;
}
.browser-stage__container.browser-stage__container_technicalSupport-active{
  display: block;
}
