.promotion-stage__title-container.promotion-stage__title-container_smm{
  width: 100%;
  max-width: 500px;
  .promotion-stage__title{
    width: 100%;
    max-width: 500px;
    .promotion-stage__name{
      font-weight: bold;
    }
  }
}