.stages-work__img_2-4{
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .stages-work__img_2{
    width: calc(146px + 5%);
  }
  .stages-work__img_3{
    width: calc(200px + 10%);
  }
  .stages-work__img_4{
    width: calc(270px + 30%);
  }


}



