.pageTechnicalSupport__item{
  width: calc(100% / 4 - 30px);
  min-width: 246px;
  box-sizing: border-box;
  padding: 15px 25px;

  margin-bottom: 20px;

  background: $text-for-headers;
  opacity: 0.75;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width:1300px){
    width: calc(100% / 2 - 20px);
  }
  @media screen and (max-width:700px){
    width: calc(100%);
  }
}

.pageTechnicalSupport__item_anim-active{
  .pageTechnicalSupport__img{
    opacity: 1;
      transform: scale(1);
      transition: all 2s ease 0s;
  }
  .pageTechnicalSupport__title{
    opacity: 1;
    &::after{
      opacity: 1;
      transform: scale(1);
    }
  }


}