.our-client__client-name{
  @include fontValue(normal, 900, 18px, 21px);
  color: $text-color;
  margin: 15px 0px 0px;
  text-align: center;
  width: 100%;
  @media screen and (max-width: 1024px){
    @include fontValue(normal, 900, 16px, 18px);
  }
  @media screen and (max-width: 600px){
    @include fontValue(normal, 900, 12px, 14px);
  }

}