.stages-work__stage-title{
  @include fontValueMontserrat(normal, 800,48px,126.69%);
  letter-spacing: 0.02em;
  color: $text-for-headers;
  opacity: 0.05;
  margin: 0px;
  width: 100%;
  @media screen and (max-width: 1024px){
    @include fontValueMontserrat(normal, 800,42px,126.69%);
  }

  @media screen and (max-width: 600px){
    @include fontValueMontserrat(normal, 800,22px,126.69%);
  }
}