.header__dropdown-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: max-content;
  position: relative;
  &:hover{
    .header__dropdown{
      display: block;
    }
  }
}