.developmentStud__title{
  @include fontValue(normal, bold, 36px, 98%);
  text-align: center;
  letter-spacing: 0.005em;

  color: #FF3D3D;
  margin: 0px;
  margin-bottom: 20px;




  @media screen and (min-width: 1440px) {
    @include fontValue(normal, bold, 36px, 98%);
  }
  @media screen and (max-width: 1440px){
    font-size: calc(26px + 6 * ((100vw - 320px) / 680));
  }
  @media screen and (max-width: 600px){
    font-size: calc(18px + 6 * ((100vw - 320px) / 680));
    margin-bottom: 10px;
  }

}