.website-promotion__square{
  width: 235px;
  height: 235px;
  border: #FFFFFF solid 5px;
  border-radius: 50%;
  position: relative;
  transform: rotate(90deg);
  box-sizing: border-box;

  &::after{
    content: "";
    position: absolute;
    top: 7.5px;
    left: 7.5px;
    width: 210px;
    height: 210px;
    background-color:  #FFFFFF;
    border-radius: 50%;
  }

}