@import "./_bold/portfolio__text_bold.scss";
.portfolio__text{
  @include fontValue(normal,normal,16px,126.69%);
  letter-spacing: 0.02em;
  color: $text-color;
  margin: 0px;
  margin-bottom: 15px;
  @media screen and (max-width:600px){
    @include fontValue(normal,normal,14px,126.69%);
  }
}