.portfolio__button{
  width: 261px;
  height: 47px;

  background: linear-gradient(180deg, #B43939 0%, #812020 100%);
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
  border-radius: 15px;

  @include fontValue(normal,bold,18px,21px);
  color: $text-for-headers;
  z-index: 2;

  &:hover{
    cursor: pointer;
    box-shadow: none;
    filter: drop-shadow(0px 5px 15px rgba(255, 0, 0, 0.33));
  }
}
