.main-title__button{
  border-radius: 15px;
  height: 55px;
  @media screen and (max-width: 600px){
    height: 51px;
  }
  box-sizing: border-box;
  border: 1px solid #DAFE00;
  background: none;
  margin-left: 32px;
  margin-top: 20px;
  &:hover{
    cursor: pointer;
    a{
      color: #D7FD01;
    }
    border-color: white;
  }
  a{
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 15px;
    @include fontValue(normal, bold, 18px, 21px);
    color: $text-for-headers;
    padding: 17px 56px;

    @media screen and (max-width: 600px){
      @include fontValue(normal, bold, 14px, 16px);
      padding: 15px 35px;
    }

  }
}