.browser-stage__item{
  @include fontValue(normal, normal, 18px,126.69%);
  letter-spacing: 0.02em;
  align-self: center;
  color: $text-color;
  margin-bottom: 10px;

  width: 100%;
  max-width: 444px;

  position: relative;
  box-sizing: border-box;
  padding-left: 20px;

  @media screen and (max-width:1024px){
    @include fontValue(normal, normal, 16px,126.69%);
  }

  @media screen and (max-width:600px){
    @include fontValue(normal, normal, 14px,126.69%);
  }

  &::before{
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 0px;

    flex-basis: auto;
    width: 13px;
    height: 13px;
    background: $attention;
    border-radius: 50%;
    margin-right: 14px;
  }
}