@import "./_bunner/browser-page__button_bunner.scss";
@import "./_bunner-2/browser-page__button_bunner-2.scss";
@import "./_support/browser-page__button_support.scss";
.browser-page__button{
  padding: 15px 40px;
  background: linear-gradient(180deg, #B43939 0%, #812020 100%);
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  @include fontValue(normal, bold, 18px, 21px);
  color: #FFFFFF;

  border-radius: 15px;
  margin-top: 40px;
  @media screen and (max-width:600px){
    @include fontValue(normal, bold, 16px, 18px);
    padding: 15px 20px;
  }

  &:hover{
    cursor: pointer;
    box-shadow: none;
    filter: drop-shadow(0px 5px 15px rgba(255, 0, 0, 0.33));
  }

}