.popup__close{
  position: absolute;
  top: 35px;
  right: 35px;
  width: 36px;
  height: 36px;

  @media screen and (max-width:1024px){
    width: 25px;
    height: 25px;
  }

  @media screen and (max-width:600px){
    top: 15px;
    right: 15px;
  }

  &:hover{
    cursor: pointer;
  }
}