.form-consultation_dark{
  .form-consultation__input{
    background-color: #284B38;
  }
  .form-consultation__button{
    background: none;
    border: 2px solid #62E800;
    box-sizing: border-box;
  }
}