@import "./_vertical/reconstructionStub__line_vertical.scss";
.reconstructionStub__line{
  width: 3px;
  height: 116px;
  background: linear-gradient(180deg, #DAFE00 0%, rgba(13, 154, 52, 0) 100%);
  border-radius: 15px;
}