.page_base{
  display:block;
  position: relative;
  width: 100%;
  overflow: hidden;
  background-position:top;
  background-size: cover;
  background-repeat: repeat-y;


  background-blend-mode: screen;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  background-image: url("./images/background/background-home-page.png"), linear-gradient(180deg, #3E8F63 0%, #2B503C 99.98%, #486455 99.99%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


}