@import "./_textarea/portfolio__input_textarea.scss";
.portfolio__input{
  display: block;

  width: 261px;
  height: 39px;

  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  border: none;

  margin-bottom: 25px;
  padding: 0px 14px;

  @include fontValue(normal, bold, 18px, 126.69%);
  color: $text-color;

  @media screen and (max-width: 600px){
    @include fontValue(normal, bold, 14px, 126.69%);
  }

  &::placeholder{
    @include fontValue(normal, bold, 18px, 126.69%);
    letter-spacing: 0.02em;
    color: $text-color-second;
    align-self: center;
    @media screen and (max-width: 600px){
      @include fontValue(normal, bold, 14px, 126.69%);
    }
  }
}