.browser-page__title.browser-page__title_long{
  @include fontValue(normal, bold, 34px, 42px);
  color: $text-for-headers;
  margin: 0px;
  @media screen and (max-width: 1024px){
    margin-left: 100px;
    @include fontValue(normal, bold, 24px, 28px);
  }
  @media screen and (max-width: 600px){
    margin-left: 0px;
    text-align: center;
    @include fontValue(normal, bold, 16px, 24px);
  }

}