.promotion-stage__item{
  @include fontValue(normal, normal, 18px,126.69%);
  letter-spacing: 0.02em;
  align-self: center;
  color: $text-color;
  margin-bottom: 10px;

  @media screen and (max-width:1024px){
    @include fontValue(normal, normal, 16px,126.69%);
  }

  @media screen and (max-width:600px){
    @include fontValue(normal, normal, 14px,126.69%);
  }

  &::before{
    content: "";
    display: inline-block;
    flex-basis: auto;
    width: 13px;
    height: 13px;
    background: $attention;
    border-radius: 50%;
    margin-right: 14px;
  }
}