.developmentStud__links{
  list-style: none;
  display: flex;
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
  justify-content: flex-end;
  li{
    margin-right: 12px;
    width: 26px;
    height: 26px;
  }
  li:last-of-type{
    margin-right: 0px;
  }
  @media screen  and (min-width: 800px) and (max-height: 900px) {
    li{
      background:linear-gradient(180deg, #A9DCC0 0%, #3E8F63 0.01%, #2B503C 99.98%, #486455 99.99%);;
      border-radius: 50%;
    }
  }

  @media screen and (max-width: 800px){
    li{
      background:linear-gradient(180deg, #A9DCC0 0%, #3E8F63 0.01%, #2B503C 99.98%, #486455 99.99%);;
      border-radius: 50%;
    }
  }

}
