@import "./_search-promotion/browser-stage__title_search-promotion.scss";
@import "./_active/browser-stage__title_active.scss";
@import "./_technicalSupport/browser-stage__title_technicalSupport.scss";
.browser-stage__title{
  padding-bottom: 20px;
  width: 50%;
  display: flex;
  align-items: center;
  &:hover{
    cursor: pointer;
  }
  @media screen  and (max-width:768px){
    width: 100%;
    padding: 10px 0px;
  }
}