.promotion-stage__button-price{
  background: $text-for-headers;
  border: 2px solid $elipse-color;
  box-sizing: border-box;
  border-radius: 15px;
  width: 255px;
  height: 55px;
  margin: 37px auto 0px;

  @media screen and (max-width:600px){
    width: 100%;
    @include fontValue(normal,bold,13px,126.69%);
  }

  @include fontValue(normal,bold,18px,126.69%);
  text-align: center;
  color: #0D9833;
}