.page_home-website-promotion{
  height: 1000px;
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  background-color: #EEEEEE;
  margin-bottom: 500px;

  &::before{

    content: "";
    background-image: url("./images/background/Без имени-1 5.png");
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    height: 100%;
    width: 20%;
    background-position:left;
    background-size:cover;
    background-repeat: no-repeat;

  }
  &::after{
    content: "";
    background-image: url("./images/background/Без имени-1 6.png");
    position: absolute;
    top:0px;
    right: 0px;
    z-index: 2;
    height: 100%;
    width: 30%;
    background-position:right;
    background-size:cover;
    background-repeat: no-repeat;
  }

  @media screen and (max-width: 1200px) {
    height: 700px;

  }
  @media screen and (max-width: 768px) {
    height: 500px;

  }
  @media screen and (max-width: 550px) {
    height: 400px;

  }

}