@import "./_vertical/main-title__line_vertical.scss";
.main-title__line{

  width: 3px;
  height: 300px;
  flex-basis: auto;
  background: linear-gradient(180deg, #DAFE00 0%, rgba(13, 154, 52, 0) 100%);
  border-radius: 15px;
  @media screen and (max-width: 1024px){
    margin-top: 10px;
  }


  @media screen and (max-width:450px){
    flex-basis: 5px;
  }
}