.developmentStud__subtitle{
  @include fontValue(normal, normal, 14px, 16px);
  color: $text-for-headers;
  margin: 0px;
  @media screen  and (min-width: 800px) and (max-height: 900px) {
    color: $background-color;
  }
  @media screen and (max-width: 800px){
    color: $background-color;
  }
}