@import "./__button/portfolio__button.scss";
@import "./__form-title/portfolio__form-title.scss";
@import "./__form/portfolio__form.scss";
@import "./__input/portfolio__input.scss";
@import "./__title/portfolio__title.scss";
@import "./__device-container/portfolio__device-container.scss";
@import "./__device/portfolio__device.scss";
@import "./__devices/portfolio__devices.scss";
@import "./__site/portfolio__site.scss";
@import "./__link/portfolio__link.scss";
@import "./__name/portfolio__name.scss";
@import "./__screen/portfolio__screen.scss";
@import "./__text/portfolio__text.scss";

.portfolio{
  margin-top: 70px;
  width: 100%;
  position: relative;
  margin-bottom: 55px;
}
