@import "./__button/portfolio__button.scss";
@import "./__form-title/portfolio__form-title.scss";
@import "./__form/portfolio__form.scss";
@import "./__input/portfolio__input.scss";
@import "./__title/portfolio__title.scss";

.portfolio{
  margin-top: 70px;
  width: 100%;
  position: relative;
  margin-bottom: 55px;
}
.portfolio__img{
  width: 100%;
}




