.stages-work__icons{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 74px;
  img{
    margin: 2px 0px;

  }
  .stages-work__icons-stage{
    opacity: 0;
    transform: scale(0.8);
    transition: all 2s ease 0s;
  }
  .stages-work__icons-stage_anim-active{
    opacity: 1;
    transform: scale(1);
    transition: all 2s ease 0s;
  }
}