.our-client__subtitle{
  display: flex;
  align-items: center;
  position: relative;
  top: -20px;
  justify-content: center;
  p{
    margin: 0px;
    display: block;
    @include fontValue(normal, 200, 40px, 47px);
    text-align: center;
    text-transform: lowercase;
    color: $text-for-headers;
  }
  .our-client__line {
    display: flex;
    align-items: center;
    width: 55px;
    height: 2px;
    justify-self: center;
    background: #0D9A34;
    margin-left: 7px;
  }

  @media screen and (max-width: 1024px){
    top: -15px;
    p{
      @include fontValue(normal, 200, 34px, 38px);
    }
  }

  @media screen and (max-width: 600px){
    top: -10px;
    .our-client__line{
      width: 45px;
    }
    p{
      @include fontValue(normal, 200, 24px, 28px);
    }
  }
}