.technical-support__description{
  width: 80%;
  max-width: 598px;
  @include fontValue(normal,bold, 16px, 162.69%);
  text-align: center;
  letter-spacing: 0.02em;

  margin: 0px auto 25px;
  color: $text-for-headers;

  @media screen and (max-width: 600px){
    width: 90%;
    @include fontValue(normal,bold, 14px, 162.69%);
  }
}