.footer__info{
  width: 50%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #CBCBCB;
  padding-top: 11px;
  @media screen and (max-width:900px){
    width: 100%;
    justify-content: flex-start;
    a{
      margin-right: 20px;
      &:last-of-type{
        margin-right: 0;
      }
    }

  }
  @media screen and (max-width:600px){
    flex-direction: column;
  }
}