.developmentStud__social-network{
  position: absolute;
  bottom: 18%;
  right: 23%;

  @media screen and (min-width: 800px) and (max-height: 900px) {
    position: fixed;
    bottom: 5%;
    right: 15%;
  }

  @media screen and (max-width: 800px){
    position: fixed;
    bottom: 5%;
    right: 15%;
  }
}