.reconstructionStub__header{
  margin-top: 80px;
  align-self: flex-start;

  @media screen and (max-height: 900px){
    margin-top: 40px;
  }


  .reconstructionStub__title{
    opacity: 0;
    transition: all 2s ease 0s;
  }
  .reconstructionStub__line_vertical{
    transform: rotate(-90deg) translateY(+30%);
    opacity: 0;
    transition: all 2s ease 0s;
  }
  .reconstructionStub__line{
    transform: translateY(50%);
    opacity: 0;
    transition: all 2s ease 0s;
  }

}
.reconstructionStub__header_anim-active{

  .reconstructionStub__line_vertical{
    transform: rotate(-90deg) translateY(0px);
    opacity: 1;
  }
  .reconstructionStub__line{
    transform: translateY(0px);
    opacity: 1;
  }
  .reconstructionStub__title{
    opacity: 1;
  }
}