.browser-stage__title.browser-stage__title_search-promotion{
  width: 100%;
  border-bottom: 2px solid #ADADAD;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    right: 0px ;
    bottom: 15px;

    border: 10px solid transparent;
    border-left: 10px solid $attention;
    @media screen and (max-width:1024px){

    }

  }
}

.browser-stage__title.browser-stage__title_search-promotion-active{
  .browser-stage__name{
    font-weight: bold;
  }
  border-bottom: 2px solid $attention;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    right: 15px ;
    bottom: 15px;

    border: 10px solid transparent;
    border-top: 10px solid $attention;

    @media screen and (max-width:1024px){
      bottom: 5px;
    }

  }
}