.stages-work__text-container{
  display: flex;
  flex-direction: column;
  margin-left: 32px;
  align-items: flex-start;
  max-width: 322px;
  width: 100%;

  @media screen and (max-width: 600px){
    margin-left: 10px;
    width: calc(100% - 74px - 10px);
    justify-content: space-between;
  }

}