@import "./__content/browser-page__content.scss";
@import "./__point/browser-page__point.scss";
@import "./__points/browser-page__points.scss";
@import "./__title-container/browser-page__title-container.scss";
@import "./__title/browser-page__title.scss";
@import "./__button/browser-page__button.scss";
@import "./__line/browser-page__line.scss";

.browser-page{
  margin-top: 20px;
  width: 100%;
  position: relative;
  margin-bottom: 90px;
  @media screen and (max-width: 768px){
    margin-bottom: 45px;
  }
}

