@import "./__content/browser-page__content.scss";
@import "./__point/browser-page__point.scss";
@import "./__points/browser-page__points.scss";
@import "./__title-container/browser-page__title-container.scss";
@import "./__title/browser-page__title.scss";

.browser-page{
  margin-top: 20px;
  width: 100%;
  position: relative;
}

