.main-title__davis{

  @include fontValue(normal, 200, 24px, 28px);
  letter-spacing: 0.06em;
  color: #CBFFEC;
  margin-left: 32px;

  @media screen and (max-width: 1024px){
    @include fontValue(normal, 200, 18px, 22px);
  }
  @media screen and (max-width: 600px){
    @include fontValue(normal, 200, 16px, 18px);
  }

}