.browser-page__title.browser-page__title_support{
  width: 98%;
  text-align: center;
  @include fontValue(normal, bold, 32px, 42px);
  color: $text-for-headers;
  @media screen and (max-width: 1024px){
    @include fontValue(normal, bold, 24px, 28px);
  }
  @media screen and (max-width: 600px){
    @include fontValue(normal, bold, 16px, 24px);
  }
}