.browser-stage__number{
  width: 35px;
  height: 35px;
  background-color: $attention;
  border-radius: 35px;
  text-align: center;
  margin-right: 15px;

  @include fontValue(normal, bold, 18px,35px);
  letter-spacing: 0.02em;
  color: $text-for-headers;

  @media screen  and (max-width:1024px){
    width: 20px;
    height: 20px;
    @include fontValue(normal, bold, 14px,20px);
    margin-right: 10px;
  }
}