.promotion__info-text{
  @include fontValue(normal, normal, 16px,126.69%);
  letter-spacing: 0.02em;
  color: #444444;
  padding-bottom: 24px;

  border-bottom: 1px solid #CBCBCB;
  @media screen and (max-width:600px){
    @include fontValue(normal, normal, 14px,126.69%);
    padding-bottom: 15px;
  }
}