.browser-page__container-support{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;

  background-image: url("../../images/pageTechnicalSupport/background-photo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 30px 50px;

  @media screen and (max-width:1024px){
    padding: 0px 40px 30px;
  }
  @media screen and (max-width:600px){
    padding: 0px 20px 30px;
  }

}
