@import "./__title/title-container__title.scss";
@import "./__line/title-container__line.scss";
@import "./__subtitle/title-container__subtitle.scss";
@import "./__line-and-text/title-container__line-and-text.scss";
@import "./_right/title-container_right.scss";
@import "./_left/title-container_left.scss";
@import "./_left-green/title-container_left-green.scss";
@import "./_red/title-container_red.scss";
@import "./_vertical/title-container_vertical.scss";
@import "./_search-promotion/title-container_search-promotion.scss";
.title-container{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: center;


  // для анимации
  .title-container__title, .title-container__subtitle{
    opacity: 0;
    transition: all 2s ease 0s;
  }
  .title-container__line{
    opacity: 0;
    &:first-of-type{
      transform: translateX(100%);
    }
    transform: translateX(-100%);
    transition: all 2s ease 0s;
  }
  .title-container__line.title-container__line_anum-left{
    transform: translateX(100%);
  }
  .title-container__line.title-container__line_anum-right{
    transform: translateX(-100%);
  }
  .title-container__line.title-container__line_anum-top{
    transform: translateY(100%);
  }
}

.title-container_anim-active{

  .title-container__title, .title-container__subtitle{
    opacity: 1;
  }

  .title-container__line{
    opacity: 1;
    &:first-of-type{
      transform: translate(0px, 0px);
    }
    transform: translate(0px,0px);
  }


}