.pageTechnicalSupport__list-item{
  display: flex;
  align-items: flex-start;

  @include fontValue(normal,normal,14px, 126%);
  letter-spacing: 0.02em;
  color: $text-color;

  margin-bottom: 15px;

  &::before{
    content: url("../../images/icon/check-mark.svg");
    display: block;
    width: 19px;
    height: 19px;

    margin-right: 13px;
  }
}