.main-square__title{
  @include fontValue(normal, 200, 40px, 47px);
  text-align: center;
  text-transform: uppercase;
  color: #747474;
  margin: 0px;
  span{
    @include fontValue(normal, 900, 48px, 56px);
    text-transform: uppercase;
    color: #4D4D4D;
    display: block;
  }
}