.portfolio__name{
  @include fontValue(normal,bold,24px,98%);
  text-align: center;
  letter-spacing: 0.005em;
  margin: 0px;
  margin-bottom: 5px;
  color: $text-color;
  @media screen and (max-width:600px){
    @include fontValue(normal,bold,18px,98%);
  }
}