@import "./_line/browser-page__content-title_line.scss";
.browser-page__content-title{
  @include fontValue(normal, bold, 18px,126.69%);
  letter-spacing: 0.02em;
  color: $text-color;
  margin: 0px;
  margin-bottom: 12px;
  @media screen and (max-width:600px){
    @include fontValue(normal, bold, 16px,126.69%);
  }
}