@import "./__container/our-client__container.scss";
@import "./__button/our-client__button.scss";
@import "./__carousel/our-client__carousel.scss";
@import "./__client-name/our-client__client-name.scss";
@import "./__client/our-client__client.scss";
@import "./__clients/our-client__clients.scss";
@import "./__elipse/our-client__elipse.scss";
@import "./_small/our-client_small.scss";
@import "./__title/our-client__title.scss";
@import "./_businessCardWebsite/our-client_businessCardWebsite.scss";
@import "./__link/our-client__link.scss";

.our-client{
  width: calc(100% + 28px + 28px);
  position: relative;
  left: 0px;
  @media screen and (max-width:500px){
    width: calc(100% + 15px + 15px);

  }
}
