@import "./__container/our-client__container.scss";

@import "./__button/our-client__button.scss";
@import "./__carousel/our-client__carousel.scss";
@import "./__client-name/our-client__client-name.scss";
@import "./__client/our-client__client.scss";
@import "./__clients/our-client__clients.scss";

.our-client{
  width: calc(100% + 28px + 28px);
  position: relative;
  left: 0px;
}