.our-client__container{
  background: $text-for-headers;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  padding: 25px 50px;
  @media screen and (max-width:1024px){
    padding: 25px 30px;
  }

}


