@import "./__button/form-consultation__button.scss";
@import "./__input/form-consultation__input.scss";
@import "./_dark/form-consultation_dark.scss";
@import "./_small/form-consultation_small.scss";
@import "./_websiteDevelopment/form-consultation_websiteDevelopment.scss";
.form-consultation{

  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  padding: 0px 15px 55px;
  @media screen and (max-width: 1024px){
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

