.our-client__clients{
  display: flex;
  align-items: center;
  justify-content: space-between; //!!
  align-items: center;

  transform: translateX(0px);
  margin: 0px;
  padding: 0px;

  list-style: none;
  transition: transform 250ms;
  font-size: 0;
}