.browser-page__button_bunner{
  background: #ADF300;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 80%;
  max-width: 563px;
  height: 55px;
  border: none;

  @include fontValue(normal,bold,24px,28px);
  @media screen and ( max-width: 1024px){
    @include fontValue(normal,bold,22px,24px);
  }
  @media screen and ( max-width: 768px){
    @include fontValue(normal,bold,18px,22px);
  }
  @media screen and ( max-width: 600px){
    @include fontValue(normal,bold,14px,16px);
  }
  color: #1C3A2A;
}