.browser-page__points{
  display: flex;
  position: absolute;
  left: 66px;
  top: 17px;
  @media screen and (max-width: 1024px){
    left: 40px;
  }
  @media screen and (max-width: 600px){
    left: 20px;
  }
}