@import "./vendor/variables.scss";
@import "./blocks/page/page.scss";
@import "./blocks/reconstructionStub/reconstructionStub.scss";
@import "./vendor/normalize.css";
@import "./vendor/font/font.css";

body{
  margin: 0px;
  padding: 0px;
}

.page_reconstructionStub{

  background: url("./images/background/main-background.png"), linear-gradient(180deg, #A9DCC0 0%, #3E8F63 0.01%, #2B503C 99.98%, #486455 99.99%) ;
}
