@import "./__line/stages-work__line.scss";
@import "./__title-container/stages-work__title-container.scss";
@import "./__title/stages-work__title.scss";
@import "./__container/stages-work__container.scss";
@import "./__icons/stages-work__icons.scss";
@import "./__stage-text/stages-work__stage-text.scss";
@import "./__stage-title/stages-work__stage-title.scss";
@import "./__stage/stages-work__stage.scss";
@import "./__text-container/stages-work__text-container.scss";
@import "./__img-container/stages-work__img-container.scss";
@import "./__img/stages-work__img.scss";
@import "./__right/stages-work__right.scss";

.stages-work{
  margin-top: 45px;
  margin-bottom: 500px;
  width: 100%;
}