.promotion__bunner{
  width: 100%;
  margin-top: 27px;
  height: 77px;
  background-image: url("../../images/promotion-page/background-banner.png");
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

}