
@import "./_onlineService/browser-page__icon-name_onlineService.scss";
.browser-page__icon-name{
  @include fontValue(normal,bold,12px,100%);
  text-align: center;
  letter-spacing: 0.005em;
  color: $text-color;
  width: 100px;
  margin: 0px;
}