@import "./_support/browser-page__content_support.scss";
.browser-page__content{
  background: #E9E9E9;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 15px 15px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 40px 50px;

  @media screen and (max-width:1024px){
    padding: 40px 40px;
  }
  @media screen and (max-width:600px){
    padding: 20px 20px;
  }

}