@import "./__item/website-promotion__item.scss";
@import "./__square/website-promotion__square.scss";
@import "./__item-content/website-promotion__item-content.scss";
@import "./__item-text/website-promotion__item-text.scss";
.website-promotion{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  @media screen and (max-width: 1200px) {
    transform: scale(0.7);

  }
  @media screen and (max-width: 768px) {
    transform: scale(0.5);

  }
  @media screen and (max-width: 550px) {
    transform: scale(0.3);

  }
  margin-bottom: 30px;
}