.content{
  border: 1px solid red;
  width: 100%;
  max-width: 909px;
  margin: 0px auto 0px;
  height: 100%;

  display: flex;
  justify-content: center;

  @media screen and (max-width: 1024px){
    width: calc(100% - 160px);
  }

  @media screen and (max-width: 1024px){
    width: calc(100% - 160px);
  }


  @media screen and (max-width:768px){
    width: calc(100% - 80px);

  }

}