.promotion-stage__name{
  width: 85%;
  display: block;
  @include fontValue(normal, normal, 18px,126.69%);
  letter-spacing: 0.02em;
  color: $text-color;
  @media screen  and (max-width:1024px){
    @include fontValue(normal, normal, 16px,126.69%);
  }
  @media screen  and (max-width:600px){
    @include fontValue(normal, normal, 14px,126.69%);
  }
}