@import "./__title/creating-websites__title.scss";
@import "./__title-container/creating-websites__title-container.scss";
@import "./__content/creating-websites__content.scss";
@import "./__description/creating-websites__description.scss";
@import "./__name/creating-websites__name.scss";
@import "./__siteExample/creating-websites__siteExample.scss";
@import "./__site-container/creating-websites__site-container.scss";
@import "./__elipse/creating-websites__elipse.scss";
@import "./__img/creating-websites__img.scss";



.creating-websites{
  margin-top: 20px;
  width: 100%;
  position: relative;
}