.elipse__commercialOffer-1{
  width: 494px;
  height: 494px;
  left: -450px;
  top: -200px;
  border: 22px solid $elipse-color;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);

  @media screen and (max-width:768px){
    left: -350px;
  }
}
.elipse__commercialOffer-2{
  width: 494px;
  height: 494px;
  right: -400px;
  bottom: -400px;
  border: 22px solid $elipse-color;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);

  @media screen and (max-width:768px){
    right: -350px;
  }
}

.elipse__commercialOffer-3{
  width: 88px;
  height: 88px;
  right: -130px;
  top: 30px;

  background: $elipse-color;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  &::before{
    content:"";
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    background: $elipse-color;
    border-radius: 50%;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
    top:-15px;
    right: -90px;

  }
  @media screen and (max-width:768px){
    right: -40px;
  }
}

