@import "./_long/title-container__title_long.scss";
.title-container__title{
  @include fontValue(normal, 900, 48px, 56px);
  color: $text-for-headers;
  text-align: center;
  text-transform: uppercase;

  margin: 0px 20px;

  span{
    display: block;
    @include fontValue(normal, 200, 40px, 47px);
    text-align: center;
    text-transform: lowercase;
    color: $text-for-headers;

  }
  @media screen and (max-width: 1024px){
    @include fontValue(normal, 900, 42px, 48px);
    span{
      @include fontValue(normal, 200, 34px, 38px);
    }
  }

  @media screen and (max-width: 600px){
    @include fontValue(normal, 900, 32px, 36px);
    span{
      @include fontValue(normal, 200, 24px, 28px);
    }
  }

}
