.browser-stage__arrow{
  position: absolute;
  bottom: -70px;
  left: calc(50% - 250px);
  width: 491px;
  @media screen and (max-width:1024px){
    width: 300px;
    bottom: -50px;
    left: calc(50% - 150px);
  }
  @media screen and (max-width:600px){
    width: 80%;
    bottom: -50px;
    left: 10%;
  }
}