@import "./__close/popup__close.scss";
@import "./__container/popup__container.scss";
@import "./__content/popup__content.scss";
@import "./__header/popup__header.scss";
@import "./__particles/popup__particles.scss";
@import "./__title/popup__title.scss";
@import "./__text/popup__text.scss";

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);

  align-items: center;
  justify-content: center;
  display: none;

  z-index: 100;
  .popup__title_form_send{
    display: none;
  }
  .popup__text{
    display: none;
  }
  .popup__title_form{
    display: block;
  }
  .form{
    display: flex;
  }
}

.popup_open{
  display: flex;
}

.popup_sent{
  .popup__title_form{
    display: none;
  }
  .form{
    display: none;
  }
  .popup__title_form_send{
    display: block;
  }
  .popup__text{
    display: block;
  }
}
