.title-container__line-and-text{
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  .title-container__line {
    display: flex;
    align-items: center;
    width: 55px;
    height: 2px;
    justify-self: center;
    background: #D8FD00;
    margin-left: 7px;
  }

}
