.advantages__text{
  margin: 0px;
  @include fontValue(normal, normal, 14px, 16px);
  text-align: center;
  text-transform: capitalize;
  color: #C8C8C8;
  width: 100%;
  max-width: 260px;
  @media screen and (max-width: 1200px) {
    @include fontValue(normal, normal, 12px, 14px);
  }
}