.title-container__subtitle{
  margin: 0px;
  display: block;
  @include fontValue(normal, 200, 40px, 47px);
  text-align: center;
  text-transform: lowercase;
  color: $text-for-headers;
  @media screen and (max-width: 1024px){
    @include fontValue(normal, 200, 34px, 38px);
  }
  @media screen and (max-width: 600px){
    @include fontValue(normal, 200, 24px, 28px);
  }
}
